[Unit]
Description=Run the gateway tunnel health check

PartOf=gateway.target

[Timer]
OnBootSec=60s
OnUnitActiveSec=30s
AccuracySec=5s

[Install]
WantedBy=gateway.target
